**.ipynb
.ipynb_checkpoints/
__pycache__/
**.egg-info/
output/
*.pyc

# Vscode
.vscode
.idea

coverage.xml
.coverage

# Default output directory from moonstone
output

# Mac files
.DS_Store

# virtual environment
.env*/

# readthedocs
_build/